<!DOCTYPE html>
<html lang="en" ng-app="ProfPressApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProfPress</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
</head>

<body ng-controller="PostCtrl">
    <div class="container">
        <header>
            <h1>ProfPress
        <small>the blog platform for academics</small></h1>
        </header>
        <h2>Latest posts</h2>
        <div class="posts">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Just Build Websites</h3>
                </div>
                <div class="panel-body">
                    <p>Good advice for beginning web designers: <a href="http://justbuildwebsites.com/">Just Build Websites</a>
                    </p>
                </div>
                <div class="panel-footer">Posted by Prof Proferson on January 27</div>
            </div>
            <div class="panel panel-default" ng-repeat="post in posts">
                <div class="panel-heading">
                    <h3 class="panel-title">{{post.title}}</h3>
                </div>
                <div class="panel-body">
                    <p>{{post.text}}</p>
                </div>
                <div class="panel-footer">Posted by {{post.author}} on {{post.date}}</div>
            </div>
        </div>
        <hr>
        <h2>New Post</h2>
        <div class="post-form well">
            <h3>Instructions</h3>
            <ol>
                <li>Come up with an idea</li>
                <li>Write it up using this form</li>
                <li>Share your idea with the academic community and become famous</li>
            </ol>
            <form>
                <div class="form-group form-group-lg">
                    <label for="post-title" class="control-label">Title</label>
                    <input type="text" class="form-control input-lg" id="post-title" placeholder="Enter a title" ng-model="post.title">
                </div>
                <div class="form-group form-group-lg">
                    <label for="post-text" class="control-label" rows="10">Post</label>
                    <textarea class="form-control" id="post-text" ng-model="post.text" placeholder="Enter your post" rows="10"></textarea>
                </div>
                <div class="form-group form-group-lg">
                    <label for="post-author" class="control-label">Author</label>
                    <input type="text" class="form-control input-lg" id="post-author" placeholder="Enter author name" ng-model="post.author">
                </div>
                <button type="submit" class="btn btn-primary btn-lg" ng-click="add()">Post it!</button>
            </form>
        </div>
        <footer>
            <img src="assets/img/logo.png" alt="The University of Texas at Austin" class="logo" />
        </footer>
    </div>
    <script src="assets/js/app.js"></script>
</body>

</html>
