@import url(http://fonts.googleapis.com/css?family=Lobster);
html {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    background: none;
}
header {
    margin: 40px 0 60px;
}
h1 {
    font-family: Lobster;
    color: #bf5700;
    font-size: 5em;
}
h1 small {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #555;
    font-weight: 200;
}
h2 {
    text-transform: uppercase;
    color: #005F86;
    font-weight: 100;
    font-size: 4em;
    margin-top: 50px;
    margin-bottom: 20px;
}
h3.panel-title {
    font-size: 2em;
    font-weight: 200;
    color: #F5F4F0;
}
.panel-footer {
    text-align: right;
    color: #bf5700;
    font-style: italic;
}
.container {
    margin: 30px auto;
    padding: 0 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .5);
}
footer {
    text-align: center;
}
img.logo {
    width: 180px;
    height: 79px;
}
.posts .panel {
    margin-bottom: 40px;
}
.panel-default {
    border-color: #bf5700
}
.panel-default>.panel-heading {
    background-color: #bf5700;
    color: #fff;
    border-color: #bf5700;
}
.panel-default>.panel-footer {
    border-top-color: #bf5700;
    background-color: #F5F4F0;
}
#post-text {
    min-height: 200px;
}
footer {
    margin: 40px 0;
}
.well {
    border-color: #bf5700;
    background-color: #F5F4F0;
    box-shadow: none;
}
